html {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 550px;
    padding: 40px;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
    backdrop-filter: blur(10px);
}

.login-box h1 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.login-box .user-box {
    position: relative;
}

.login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.login-box .user-box input:focus~label,
.login-box .user-box input:valid~label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
}

.login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    color: #fff;
}

.options a {
    color: #fff;
    text-decoration: none;
}

button {
    width: 85%;
    padding: 0.75rem;
    border: none;
    border-radius: 40px;
    background-color: #fff;
    color: #000000;
    font-size: 1rem;
    display: block; 
    margin: 0 auto; 
}

button:hover {
    background-color: gray;
    color: #fff;
}

.link-button {
    background: transparent;
    border: none;
    color: #03e9f4;
    text-decoration: underline;
    font-size: 14px; /* Decrease font size for a smaller appearance */
    cursor: pointer;
    padding: 5px 8px; /* Adjust padding for reduced size */
    max-width: 150px; /* Set a max width */
    text-align: center; /* Center the text */
    border-radius: 5px; /* Optional: add slight rounding */
    transition: background 0.3s, color 0.3s;
}

.link-button:hover {
    background-color: black; /* Black background on hover */
    color: #fff; /* Change text color on hover */
}

p {
    color: #fff;
}

p a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
